table {
    border-collapse: collapse;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
  }
  
  .tr-header {
    border-bottom: 1px solid white;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .column {
    border-right: 1px solid white;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
  }
  
  .end-align {
    text-align: end;
  }
  
  .table-layout {
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 9px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: white;
  }
  
  .scrolling-table {
    margin-left: 40px;
    width: calc(100% - 100px);
    overflow-x: auto;
    padding-bottom: 8px;
  }
  
  .first-column-header {
    padding-bottom: 1px;
  }
  
  .first-column {
    position: absolute;
    width: 22px;
    left: 38px;
    top: auto;
    padding-right: 5px;
  }
  
  .second-column {
    border-left: 1px solid white;
  }
  
  .last-column-header {
    padding-bottom: 1px;
  }
  
  .last-column {
    position: absolute;
    width: 40px;
    right: 40px;
    top: auto;
    height: 22px;
  }
  
  .header-value {
    display: flex;
    height: 22px;
    align-items: center;
    justify-content: center;
  }
  
  img {
      height: 20px;
  }
  
  .transition {
      transition: all 0.3s;
    }
    
    .change-icon {
      transform: rotate(-180deg);
    }

    .clickable {
      cursor: pointer;
    }
    
    .menu {
      position: relative;
      width: 200px;
      background-color: white;
      color: black;
      z-index: 10;
      left: -180px;
      top: -35px;
      border-radius: 3px;
    }
    
    .menu-element {
      margin: 0;
      padding: 5px 0 5px 0;
      border-bottom: 1px solid black;
      cursor: pointer;
    }
    
    .menu-element:hover {
      background-color: #BDBDBD;
    }
    
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
    
    .disable {
      background-color: gray;
      color: lightgray;
    }