.leaflet-control-poicreator-interior {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
    margin-top: -2px !important;
    margin-left: 12px !important;
    border-top: 1px solid #ccc;
    border-radius: 2px;
}

.leaflet-control-poicreator-interior:hover {
    background-color: #F4F4F4;
}

.leaflet-control-poicreator-interior-select {
    background-color: #666666;;
}