.leaflet-control-interior {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
    margin-top: -2px !important;
    margin-left: 10px !important;
    border: 1px solid black;
    border-radius: 0px;
}

.leaflet-control-interior-cross {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-top: -2px !important;
    margin-left: 12px !important;
    border-radius: 0px;
    color: white;
}

.leaflet-control-interior-poi-ra {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2F80ED;
    cursor: pointer;
    margin-bottom: 20px !important;
    margin-right: 20px !important;
}

.leaflet-control-interior:hover {
    background-color: #F4F4F4;
}

.leaflet-control-interior-select {
    background-color: #666666;;
}

.leaflet-control-right {
    display: block !important;
}

.leaflet-control-input {
    width: 20px;
    height: 20px;
    margin:0;
    display: flex;
    justify-content: center;
    margin-top: 1.5px;
}

.leaflet-control-input-right {
    width: 20px;
    height: 20px;
    margin-left: 1.5px;
    display: flex;
    margin-top: 1.5px;
}

.leaflet-control-input-white {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    color: white;
    margin: 0px;
    align-items: center;
}

.leaflet-top {
    top: 12px;
}

.leaflet-popup-radio-layout {
    display: block;
    width: 150px;
    position: relative;
    top: -19px;
    left: -121px;
    background-color: white;
    text-align: left;
    border: 1px solid black;
}

.leaflet-custom-tooltip-button {
    background-color: #2F80ED;
    border: 0;
    color: white;
    display: flex;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
    justify-content: center;
}

.leaflet-custom-tooltip-button-icon {
    margin: 0 !important;
    font-size: 16px;
    padding-top: 3px;
    padding-right: 2px;
}

.leaflet-custom-tooltip-button-text {
    margin: 0 !important;
    padding-top: 5px;
}

.leaflet-radio-div {
    display: flex;
    height: 25px;
}

.leaflet-radio-input {
    margin-top: 0px;
}

.leaflet-radio-label {
    align-items: center;
    display: flex;
}