.leaflet-control-interior {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
    margin-top: -2px !important;
    margin-left: 12px !important;
    border: 1px solid black;
    border-radius: 0px;
}

.leaflet-control-interior-cross {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-top: -2px !important;
    margin-left: 12px !important;
    border-radius: 0px;
    color: white;
}

.leaflet-control-interior:hover {
    background-color: #F4F4F4;
}

.leaflet-control-interior-select {
    background-color: #666666;;
}

.leaflet-control-input {
    width: 20px;
    height: 20px;
    margin:0;
    display: flex;
    justify-content: center;
    margin-top: 1.5px;
}

.leaflet-top {
    top: 12px;
}
